/* prettier-ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply !outline-none border border-gray-200 p-1 w-full rounded-sm;
  @apply mb-2
}

input:focus,
textarea:focus,
select:focus {
  @apply border-primary rounded-sm
}

label {
  @apply text-gray-800
}

.btn-default {
  @apply bg-gray-500 text-white px-4 py-1 rounded-sm
}

.btn-default:hover {
  @apply shadow-md shadow-gray-400
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm
}

.btn-primary:hover {
  @apply shadow-md shadow-violet-400
}

.btn-secondary {
  @apply bg-gray-600 text-white px-2 py-1 rounded-sm flex justify-center mx-1 items-center gap-1
}

.btn-secondary:hover {
  @apply shadow-md shadow-gray-400
}

.btn-red {
  @apply bg-red-200 text-red-900 px-4 py-1 rounded-sm
}

.btn-red:hover {
  @apply shadow-md shadow-red-300
}

table.basic {
  @apply table-auto w-full bg-white rounded-sm shadow-md
}

table.basic thead tr td {
  @apply text-gray-700 uppercase border-b border-gray-300 px-4 py-2
}

table.basic tr td {
  @apply px-4 py-1
}

.link-default {
  @apply bg-gray-700 text-white text-sm px-2 py-1 rounded-sm flex justify-center items-center gap-2 w-20 mx-1
}

.link-red {
  @apply bg-red-200 text-red-900 text-sm px-2 py-1 rounded-sm flex justify-center items-center gap-1 w-20 mx-1
}

.link-red:hover {
  @apply shadow-md shadow-red-300
}



table.basic a:hover {
  @apply shadow-md shadow-gray-400
}

h1 {
  @apply text-primary mb-2 text-xl
}

.activityIndicator {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #1700e4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}